/* SEPA mandate info */
#content .finish .stripe-payment-sepa-mandate {
    width: 936px;
    padding: 10px;
    margin-top: 15px;
    color: #217dbb;
    background-color: #e9f2f8;
    border: 1px solid #4aa3df;
}
#content .finish .stripe-payment-sepa-mandate .mandate-info p {
    margin-top: 10px;
}
