/* Stripe SEPA payment form */
.stripe-payment-sepa-form .form-group {
    clear: both;
    width: 600px;
    height: 38px;
}
.stripe-payment-sepa-form .form-group .form-input {
    float: left;
}
.stripe-payment-sepa-form .adjust-margin {
    margin-top: 5px;
}
/* Use a long selector to overwrite the width of labels in the stripe payment sepa form */
#confirm .personal-information .payment_method .bankdata .stripe-payment-sepa-form label {
    width: auto !important;
}
.stripe-payment-sepa-form label span {
    cursor: pointer;
}
.stripe-payment-sepa-form label span.control-label {
    display: block;
    float: left;
    width: 175px !important;
    padding-top: 6px;
}
.stripe-payment-sepa-form select,
.stripe-payment-sepa-form input.text {
    width: 250px !important;
}
.stripe-payment-sepa-form input.text {
    padding: 5px;
    margin: 0.5em 0;
    background: #fff;
    border: 1px solid #bbb;
}
.stripe-payment-sepa-form input:focus {
    /* like emotion.css: input:focus */
    border-color: #666;
}
.stripe-payment-sepa-form input.instyle_error {
    /* like emotion.css: instyle_error */
    border-color: #df7373;
    background: #f7e9e9;
    box-shadow: 0 0 4px #f0d5dc;
}

/* Error boxes */
.stripe-payment-error-box,
.stripe-payment-validation-error-box {
    padding: 10px;
    margin-bottom: 15px;
    color: #B94A48;
    font-weight: bold;
    background-color: #F2DEDE;
    border: 1px solid #DF7373;
}
.stripe-payment-validation-error-box {
    margin-top: 15px;
}

/* Info box */
.stripe-payment-sepa-mandate-authorization {
    padding: 10px;
    margin: 15px 0px;
    color: #217dbb;
    background-color: #e9f2f8;
    border: 1px solid #4aa3df;
}
